{% extends 'base.html' %}
{% load static %}

{% block conteudo %}
    <div class="container" id="notice">
        {% if user == True%}
            {% csrf_token %}
            <br><div class="container" id="edit">
                <a href="http://127.0.0.1:8000/add?id={{id}}" class="btn btn-secondary">Editar</a>
            </div>
            <hr>
        {% endif %}
        <div class="col-md-12 col-sm-12 col-xs-12"><br><br>
            <div class="form-row">
                    <div class="container" id="capa">
                        <p><img src="{{image.path_image}}" width= "650px" height= "400px"></p>
                    </div>
                <div class="container">
                    <h1 name="Title" class="form-group">{{ notice.title }}</h1>
                </div>

            </div>
            <hr size="10">
                <div>
                    {{ notice.text|linebreaks }}
                </div>
                <h6>Publicado no dia {{ notice.date }}</h6>
        </div>
    </div>
    <br><br><br>
    <div class="container" id="more_notice">
        <h1>asdjasjdhasjdghashgdhdsag</h1>
    </div>
{% endblock %}