{% extends 'partials/base.html' %}

{% block content %}
    <div class="card m-5 col-lg-8">
        <div class="card-body"><br>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    {% for campo in new.visible_fields %}
                        <div class="form-group">
                            {% if campo.erros %}
                                <div class="alert-danger" align="center">
                                    {% for error in campo.errors %}
                                        {{ error|striptags }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {{ campo }}
                        </div>
                    {% endfor %}

                    <div class="modal-footer justify-content-center">
                        <div class="form-group col-lg-12">
                            <button class="btn btn-primary col-lg-12" type='submit' >Postar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

